<!-- <p>{{ texto }}</p>
<button [disabled]="disabledButton" (click)="alterarTexto()">Alterar Texto</button>
<br>
<input type="text" [(ngModel)]="nome">
<p *ngIf="nome == 'Renan'; else paragrafoElse">{{ nome }}</p>
<ng-template #paragrafoElse>
    <p>--- {{ nome }}</p>
</ng-template> -->
<!-- <p *ngIf="!(nome == 'Renan')"> --- {{ nome }}</p> -->
<form (submit)="salvar()">
    <div class="mb-3">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <hr />
</form>